@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #1B6DB6;
  --secondary-color:#E59025;
  --accent1-color:#e3e3e3;
  /* --accent1-color:#94B9AF; */
  --accent2-color:#90A583;

  --heading-font: 'Roboto', sans-serif;;
  --paragraph-font: 'Poppins', sans-serif;

  --nav-background-color:#30A7E0;
  --nav-link-color: #f5fefc;
  --nav-hover-link-color:#dbe0e2;
  --nav-hover-background-color: #5b5b5b;
}

body {
  font-family: var(--paragraph-font);
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  color: var(--nav-hover-background-color);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: var(--nav-hover-background-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-color);
}

ul li {
  list-style: none;
}

.hero {
  position: relative;
}

.hero > img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 5%;
  left: 5%;
}

.section-select {
  padding: 50px 0 0 30px;
}

.section-select .rafting-title {
  margin-bottom: 4rem;
}

.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.card-container .card-btn {
  padding: 0.5rem 1rem;
  border: 2px solid #0056b3;
}

.card-img-1 {
  background: url(../images/1-rafting.jpg) center center/cover;
  padding: 100px;
}

.card-img-2 {
  background: url(../images/2-rafting.jpg) center center/cover;
  padding: 100px;
}

.card-img-3 {
  background: url(../images/3-rafting.jpg) center center/cover;
  padding: 100px;
}

/* Table Styles */
.rafting-table {
  width: 100%; /* Set the table width to 100% of its container */
  border-collapse: collapse; /* Collapse table borders */
  margin-bottom: 20px; /* Add some space below the table */
}

/* Style the table header row */
.rafting-table thead {
  background-color: #007BFF; /* Header background color */
  color: #FFFFFF; /* Header text color */
  font-weight: bold;
}

/* Style the table header cells */
.rafting-table th {
  padding: 10px;
  text-align: left;
}

/* Style the table body rows */
.rafting-table tbody tr:nth-child(even) {
  background-color: #F2F2F2; /* Alternate row background color */
}

/* Style the table body cells */
.rafting-table td {
  padding: 10px;
  text-align: left;
}

article {
  position: absolute;
  top: 40%; 
  color:#fff;
  padding: 1rem;
  width: 90%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

article img {
  display: block;
  float: right;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sociallinks a,
header nav li a {
  text-decoration:  none;
}

.sociallinks img {
  width: 40px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 10px 0;
}

header img {
  width: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding: 2rem;
  color: var(--nav-hover-background-color);
}

.history {
  background-color: var(--nav-link-color);
  color: var(--paragraph-font);
}

.adventure-awaits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.adventure-awaits img {
  width: 100%;
  height: auto;
}

/* Form styles */

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.employee {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.employee img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.employee p {
  margin: 0;
  font-weight: bold;
}

.employee-profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map iframe {
  width: 100%;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--accent2-color);
  padding: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.form-control div {
  display: flex;
  align-items: center;
  gap: 10px;
}

label, input, textarea {
  display: block;
  /* width: 100%; */
  box-sizing: border-box;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input, textarea {
  padding: 10px;
}

textarea {
  height: 100px;
  resize: none;
}

/* Trips Styling */
.hero {
  background: url(../images/2-rafting.jpg) center center/cover;
  height: 40vh;
}

.call-to-action {
  text-align: center;
}

.btn-container a {
  display: inline-block;
  border-radius: 100px;
  border: 2px solid #0056b3;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--nav-hover-background-color);
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 100px;
  transition: all ease 0.3s;
}

button:hover {
  background-color: #0056b3;
  color: white;
}

/* Trips Page Styling */
.btn-container {
  display: flex;
  gap: 2rem;
  border-radius: 5px;
  justify-content: center;
}

.btn {
  width: 14rem;
}