@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fceff9;
}

main {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 10px;
}

.form-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

form {
  background-color: #73956F;
  color: #FCEFF9;
  padding: 1.5rem;
  border-radius: 10px;
}

.m-q {
  padding: 0.5rem;
  background-color: #454851;
  margin: 5px 0;
  text-align: center;
  width: 200px;
  align-self: center;
}

label, input, option {
  display: block;
  /* margin-bottom: 10px; */
}

select {
  padding: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
}

button {
  padding: 0.8rem;
  color: #FCEFF9;
  background-color: #454851;
  border: none;
  width: 100%;
  cursor: pointer;
}